@use "../util";

.career {
    padding: 1rem;

    &__content {
        background-color: red;
        padding: 1rem;

        &__hero {
            background-color: blue;
            padding: 1rem;
        }

        &__jobs {
            @include util.flex-center-all;
            background-color: green;
            padding: 1rem;

            &__job-container {
                @include util.flex-center-all;
                flex-direction: column;
                width: 80%;
                background-color: red;

                &__filter-container {
                    @include util.flex-center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 1rem;

                    &--mode {
                        // width: 200px;
                        @include util.flex-center-all;

                        & span {
                            width: fit-content;
                            background-color: black;
                            padding: 0.5rem;
                            border: 1px solid;
                            @include util.flex-center-all;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(60, 60, 60);
                            }
                        }
                    }
                }

                &__items {

                    &--regular {

                    }

                    &--grid {

                    }
                }
            }
        }
    }
}