@use "../util";

.career {

    &__content {
        background-color: red;
        @include util.flex-center-all;
        flex-direction: column;

        &__hero {
            padding: 1rem;
            height: 50vh;
            width: 100%;
            background-image: url(../../assets/career/job_banner.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @include util.flex-center;

            @include util.breakpoint(medium) {
                width: min(80%, 1500px);
            }

            @include util.breakpoint(large) {
                height: 85vh;
            }

            & h3 {
                background-color: blue;
                width: fit-content;
                padding: 0.5rem;
                margin-left: 5%;

                @include util.breakpoint(medium) {
                    font-size: 1.5rem;
                    margin-left: 10%
                }

                @include util.breakpoint(large) {
                    font-size: 2.5rem;
                    margin-left: 5%;
                }

                @media (min-width: 1400px) {
                    font-size: 3.3rem;
                    padding: 1rem;
                }
            }
        }

        &__jobs {
            @include util.flex-center-all;
            background-color: green;
            padding: 1rem;
            width: 80%;

            &__job-container {
                @include util.flex-center-all;
                flex-direction: column;
                width: 100%;
                background-color: red;
                padding: 2rem;

                &__filter {
                    @include util.flex-center-all;
                    gap: 2rem;
                    border-bottom: 1px solid;
                    @include util.padding-horizontal(1rem);

                    &__container {
                        @include util.flex-center;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        width: 100%;
                        gap: 1rem;
    
                        &--mode {
                            display: none;
    
                            @include util.breakpoint(large) {
                                @include util.flex-center-all;
    
                                & span {
                                    width: fit-content;
                                    background-color: black;
                                    padding: 0.5rem;
                                    border: 1px solid;
                                    @include util.flex-center-all;
                                    cursor: pointer;
    
                                    &:hover {
                                        background-color: rgb(60, 60, 60);
                                    }
                                }
                            }
                        }
                    }
                }

                &__items {
                    padding: 2rem;
                    background-color: grey;
                    width: 100%;
                    @include util.flex-center-all;
                    flex-direction: column;

                    &--bar,
                    &--grid {
                        background-color: blue;
                        width: 100%;
                        @include util.flex-center-all;
                    }

                    &--bar {
                        display: none;

                        @include util.breakpoint(large) {
                            @include util.flex-center-all;
                            flex-direction: column;

                            & div {
                                width: 100%;
                            }
                        }
                    }

                    &--grid {

                    }

                    &--empty {
                        height: 500px;
                        border: 1px solid;
                        text-align: center;
                        letter-spacing: 0.05em;
                        background-color: blue;
                        width: 100%;
                        @include util.flex-center-all;
                    }
                }
            }
        }
    }
}
