@use "../util";

.login {
    height: util.rem(600);
    // background-color: rgba(128, 128, 128, 0.167);
    background-color: rgb(106, 96, 96);
    @include util.flex-center-all;
    color: var(--login-text-color);

    @include util.breakpoint(large) {
        height: util.rem(800);
        @include util.flex-center-all;
    }

    &__content {
        @include util.dimensions(90%, 80%);
        @include util.flex-center-all;
        padding: util.rem(10);

        @include util.breakpoint(large) {
            background-color: rgb(183, 183, 183);
            @include util.dimensions(util.rem(1000), util.rem(700));
            border-radius: util.rem(50);
            padding: util.rem(10);
            justify-content: space-between;
        }

        &__left {
            display: none;
            padding: 1rem 0 1rem 1rem;

            @include util.breakpoint(large) {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                @include util.dimensions(50%, 100%);
                border-top-left-radius: util.rem(40);
                border-bottom-left-radius: util.rem(40);
                background-color: darkgrey;
                background-image: url(../../assets/login/login_welcomeback.jpg);
                background-position: center;
                background-size: cover;
            }

            &__switch-container {
                width: 100%;

                & > * {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    cursor: pointer;
                    @include util.dimensions(100%, util.rem(50));
                }

                &--registration {
                    @include util.flex-center-all;
                    background-color: grey;
                    @include util.dimensions(70%, 100%);
                    border-top-left-radius: 2rem;
                    color: var(--login-text-color);

                    &:hover {
                        opacity: 0.9;
                        text-decoration: underline;
                        text-decoration-thickness: 0.3rem;
                        text-underline-offset: 0.2rem;
                    }
                }
            }
        }

        &__right {

            @include util.breakpoint(large) {
                @include util.dimensions(50%, 100%);
                border-top-right-radius: util.rem(40);
                border-bottom-right-radius: util.rem(40);
                background-color: rgb(60, 148, 189);
                padding: 1rem 1rem 1rem 0;
                @include util.flex-center;
                flex-direction: column;
                justify-content: space-between;
            }

            &__switch-container {
                display: none;

                @include util.breakpoint(large) {
                    @include util.flex-center;
                    justify-content: flex-start;
                    @include util.dimensions(100%, util.rem(50));
                    text-align: center;
                    cursor: pointer;

                    & > *:hover {
                        opacity: 0.8;
                        text-decoration: underline;
                        text-decoration-thickness: 0.3rem;
                        text-underline-offset: 0.2rem;
                    }
                }

                &--login {
                    background-color: orange;

                    @include util.breakpoint(large) {
                        @include util.dimensions(70%, 100%);
                        @include util.flex-center-all;
                        border-top-right-radius: 2rem;
                        box-shadow: 5px 5px 5px red;
                    }
                }

            }

            &__login {

                @include util.breakpoint(large) {
                    @include util.dimensions(90%, 90%);
                    padding: 1rem 1rem 1rem 2rem;
                    @include util.flex-center-all;
                }

                &__form {
                    font-size: 1.5rem;

                    @include util.breakpoint(large) {
                        @include util.dimensions(100%, 100%);
                        @include util.flex-center-all;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.loginForm__field {

    & > * {
        @include util.margin-vertical(1rem);
    }

    h6 {
        margin: 0.5rem 0.2rem;
        letter-spacing: 0.05rem;
    }

    input {
        padding: 0.3rem 0.5rem;
        border: none;
        font-size: 1rem;
        letter-spacing: 0.1rem;

        &:focus {
            outline: none;
        }

    }

    &__email {

        &__input {
            @include util.flex-center-all;
            color: black;
            background-color: white;
            border: 1px solid black;
            padding: util.rem(5) util.rem(10);
            border-radius: 0.5rem;
        }
    }

    &__password {
        padding-bottom: 0.5rem;
        
        &__input {
            @include util.flex-center-all;
            color: black;
            background-color: white;
            border: 1px solid black;
            padding: util.rem(5) util.rem(10);
            border-radius: 0.5rem;

            &--icon {
                @include util.flex-center-all;
                cursor: pointer;
            }
        }
    }

    &__register-link {
        font-size: 0.8rem;
        text-decoration: underline;

        & p {
            color: var(--login-text-color);
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.loginForm__forgot-password {
    @include util.flex-center;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: underline;
    color: red;

    &:hover {
        opacity: 0.8;
    }
    
    p {
        color: red;
    }
}

.loginForm__button {
    border: none;

    input {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.5rem;
        background-color: red;
        border: none;
        border-radius: 0.4rem;
        margin: 1rem auto;
        letter-spacing: 0.1rem;
        cursor: pointer;
        color: var(--login-text-color);

        &:hover {
            background-color: rgb(215, 3, 3);
        }
    }
}
