@use "../util";

.login {
    height: 600px;
    background-color: rgba(128, 128, 128, 0.167);
    @include util.flex-center-all;

    @include util.breakpoint(large) {
        height: util.rem(800);
        @include util.flex-center-all;
    }

    &__content {
        // background-color: rgb(183, 183, 183);
        width: 90%;
        height: 80%;
        @include util.flex-center-all;
        padding: util.rem(10);

        @include util.breakpoint(large) {
            background-color: rgb(183, 183, 183);
            height: util.rem(700);
            width: util.rem(1000);
            border-radius: util.rem(50);
            padding: util.rem(10);
            justify-content: space-between;
        }

        &__left {
            display: none;

            @include util.breakpoint(large) {
                @include util.flex-center-all;
                width: 50%;
                height: 100%;
                border-top-left-radius: util.rem(40);
                border-bottom-left-radius: util.rem(40);
                background-color: darkgrey;
                background-image: url(../../assets/login/login_welcomeback.jpg);
                background-position: center;
                background-size: cover;
            }
        }

        &__right {

            @include util.breakpoint(large) {
                width: 50%;
                height: 100%;
                border-top-right-radius: util.rem(40);
                border-bottom-right-radius: util.rem(40);
                background-color: rgb(50, 168, 50);
                padding: util.rem(20);
                @include util.flex-center;
                flex-direction: column;
                justify-content: space-between;
            }

            &__switch-container {
                display: none;

                @include util.breakpoint(large) {
                    @include util.flex-center-all;
                    width: 100%;
                    background-color: yellow;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 10px;

                    & > *{
                        padding: 0.5rem;
                    }

                    & > *:hover {
                        background-color: rgba(0, 0, 0, 0.148);
                        text-decoration: underline;
                        text-decoration-thickness: 0.3rem;
                        text-underline-offset: 0.2rem;
                    }
                }

                &--login {

                    @include util.breakpoint(large) {
                        width: 50%;
                    }
                }

                &--register {

                    @include util.breakpoint(large) {
                        width: 50%;
                    }
                }
            }

            &__login {

                @include util.breakpoint(large) {
                    background-color: red;
                    width: 90%;
                    height: 90%;
                    padding: 1rem;
                    @include util.flex-center-all;
                }

                &__form {
                    font-size: 1.5rem;

                    @include util.breakpoint(large) {
                        background-color: yellow;
                        width: 100%;
                        height: 100%;
                        @include util.flex-center-all;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.form__field {

    & > * {
        @include util.margin-vertical(1rem);
    }

    h6 {
        margin: 0.5rem 0.2rem;
    }

    input {
        padding: 0.3rem 0.5rem;
        border: none;
        font-size: 1rem;
        letter-spacing: 0.05rem;

        &:focus {
            outline: none;
        }

    }

    &__email {

        &__input {
            @include util.flex-center-all;
            color: black;
            background-color: white;
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 0.5rem;
        }
    }

    &__password {
        padding-bottom: 0.5rem;
        
        &__input {
            @include util.flex-center-all;
            color: black;
            background-color: white;
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 0.5rem;

            &--icon {
                @include util.flex-center-all;
                cursor: pointer;
            }
        }
    }
}

.form__forgot-password {
    @include util.flex-center;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: underline;
    color: red;
    
    p {
        color: red;
    }
}

.form__button {
    border: none;

    input {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.5rem;
        background-color: red;
        border: none;
        border-radius: 0.4rem;
        margin: 1rem auto;
        letter-spacing: 0.1rem;
        cursor: pointer;
        color: var(--text-color);

        &:hover {
            background-color: darkred;
        }
    }
}

// .login {
//     height: util.rem(900);
//     @include util.flex-center-all;

//     &__content {
//         background-color: rgb(183, 183, 183);
//         height: util.rem(800);
//         width: 70%;
//         border-radius: util.rem(50);
//         padding: util.rem(10);
//         @include util.flex-center;
//         justify-content: space-between;

//         &__left {
//             width: 50%;
//             height: 100%;
//             border-top-left-radius: util.rem(40);
//             border-bottom-left-radius: util.rem(40);
//             background-color: darkgrey;
//             padding: util.rem(20);
//         }

//         &__right {
//             width: 50%;
//             height: 100%;
//             border-top-right-radius: util.rem(40);
//             border-bottom-right-radius: util.rem(40);
//             background-color: rgb(50, 168, 50);
//             padding: util.rem(20);
//             @include util.flex-center;
//             flex-direction: column;
//             justify-content: space-between;

//             &__switch-container {
//                 @include util.flex-center-all;
//                 width: 100%;
//                 background-color: yellow;
//                 text-align: center;
//                 padding: 0.5rem;
//                 cursor: pointer;
//                 border-radius: 10px;

//                 &--login {
//                     width: 50%;
//                 }

//                 &--register {
//                     width: 50%;
//                 }
//             }

//             &__login {
//                 background-color: red;
//                 width: 90%;
//                 height: 90%;
//                 padding: 1rem;
//                 @include util.flex-center-all;

//                 &__form {
//                     background-color: yellow;
//                     width: 60%;
//                     height: 60%;
//                     @include util.flex-center-all;
//                     font-size: 1.5rem;
//                 }
//             }
//         }

//     }
// }

// .form__field {

//     input {
//         padding: 0.3rem 0.5rem;
//         border-radius: 0.2rem;
//         border: 1px solid grey;
//         font-size: 1rem;
//         letter-spacing: 0.05rem;

//     }

//     &__email {
//         padding-bottom: 0.5rem
        
//     }
// }

// .form__forgot-password {
//     @include util.flex-center;
//     justify-content: flex-end;
//     font-size: 1.3rem;
//     padding: 0.5rem;
// }

// .form__button {

//     input {
//         width: 100%;
//         font-size: 1.1rem;
//         padding: 0.2rem;
//         background-color: red;
//         border: 1px solid black;
//         border-radius: 0.3rem;

//         &:hover {
//             background-color: darkred;
//         }
//     }
// }