@use "../util";
@use "../globals";

.navbar {
    background-color: var(--secondary-color);
    border-bottom: 1px solid;
    padding: 0.5em 1rem;
    @include util.breakpoint(medium) {
        @include util.padding-horizontal(0.5em);
    }
    @include util.breakpoint(large) {
        @include util.padding-horizontal(1em);
    }

    &__content {
        @include util.flex-center;
        justify-content: space-between;

        &__logo {
            @include util.flex-center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 7rem;
                height: 3rem;
            }
        }

        &__links-container {
            width: max(60%, 50rem);
            @include util.flex-center;
            justify-content: flex-end;
            
            &__web {
                @include util.flex-center;
                display: none;
                width: 100%;

                &__container {
                    position: relative;
                    padding: util.rem(10) util.rem(15);

                    &--expand {
                        display: none;
                        
                    }

                    &:hover .navbar__content__links-container__web__container--expand {
                        position: absolute;
                        @include util.flex-center-all;
                        flex-direction: column;
                        background-color: var(--secondary-color);
                        width: util.rem(200);
                        top: util.rem(45);
                        left: 50%;
                        transform: translate(-50%);
                        @include util.padding-vertical(util.rem(5));
                        border: 1px solid;

                        & p {
                            padding: util.rem(5);
                            width: 100%;
                            text-align: center;
                            transition: 0.4s;

                            &:hover {
                                background-color: var(--hover-color);
                            }
                        }
                    }
                }

                &--darkmode {
                    padding: util.rem(5);
                    border-radius: 10px;
                    transition: 0.3s;

                    &:hover {
                        background-color: var(--hover-color);
                    }
                }

                &__country {
                    @include util.flex-center;
                    justify-content: center;
                    position: relative;
                    padding: util.rem(5);
                    border-radius: 10px;
                    transition: 0.3s;

                    &:hover {
                        background-color: var(--hover-color);
                    }

                    &--hover {
                        position: absolute;
                        top: util.rem(40);
                        padding: 10px;
                        display: none;
                    }

                    &:hover .navbar__content__links-container__web__country--hover {
                        display: block;
                    }

                    img {
                        width: util.rem(30);
                        cursor: pointer;
                    }
                }

                @include util.breakpoint(large) {
                    display: flex;
                    justify-content: space-evenly;

                    p {
                        @include util.margin-vertical(auto);
                        cursor: pointer;
                    }

                    a:hover {
                        text-decoration: underline;
                        text-underline-offset: util.rem(5);
                    }
                }
            }

            &__mobile {
                position: absolute;
                @include util.flex-center;
                flex-direction: column;
                backdrop-filter: blur(util.rem(5));
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 99;
                font-size: util.rem(35);
                
                & > * {
                    width: 100%;
                    border-bottom: 1px solid;
                    text-align: center
                }

                &__exit {
                    @include util.flex-center;
                    justify-content: flex-end;
                    cursor: pointer;

                    & span {
                        @include util.flex-center-all;
                        border-radius: util.rem(10);
                        margin: util.rem(5);
                        transition: 0.3s;

                        &:hover {
                            background-color: var(--hover-color);
                        }

                        & > * {
                            font-size: util.rem(30);
                            padding: util.rem(10);
                        }

                        p {
                            font-size: util.rem(20);
                        }
                    }
                }
            }

            &__symbol-container {
                @include util.flex-center;
                justify-content: center;
                font-size: 3rem;
                gap: 1rem;

                @include util.breakpoint(large) {
                    display: none;
                }

                &__icons {
                    @include util.flex-center;
                    font-size: util.rem(30);
                    gap: util.rem(10);

                    & > * {
                        padding: util.rem(5);
                        cursor: pointer;
                        transition: 0.3s;
                        border-radius: 10px;

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }

                    img {
                        width: util.rem(30);
                    }

                    &__country {
                        @include util.flex-center;
                        justify-content: center;
                        position: relative;

                        &--hover {
                            position: absolute;
                            top: 2.5rem;
                            display: none;
                        }

                        &:hover .navbar__content__links-container__symbol-container__icons__country--hover {
                            display: block;
                        }
                    }
                }

                &__hamburger {
                    cursor: pointer;
                    border-radius: util.rem(10);
                    transition: 0.3s;

                    &:hover {
                        background-color: var(--hover-color);
                    }
                }
            }
        }
    }
}