:root {
    --background-color: rgb(0, 0, 61);
    --text-color: white;
    --primary-color: darkblue;
    --secondary-color: black;
    --hover-color: hsl(0, 0%, 68%);
    --button-color: blue;
    --button-color-hover: darkblue;
    --login-text-color: white;
}

.dark-theme {
    --background-color: white;
    --text-color: black;
    --primary-color: darkblue;
    --secondary-color: white;
    --button-color: orange;
    --button-color-hover: darkorange;
}