
@mixin margin-horizontal($value){
    margin-left: $value;
    margin-right: $value;
}

@mixin margin-vertical($value){
    margin-top: $value;
    margin-bottom: $value;
}

@mixin padding-horizontal($value){
    padding-left: $value;
    padding-right: $value;
}

@mixin padding-vertical($value){
    padding-top: $value;
    padding-bottom: $value;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}