@use "../util";

.dropdownmenu {


    &__content {
        width: 300px;
        @include util.flex-center-all;
        position: relative;

        &__category {
            display: flex;
            justify-content: center;
            background-color: grey;
            padding: 0.4rem 1.5rem;
            border-radius: 0.5rem;
            margin: 0.5rem;
            border: 1px solid black;
            cursor: pointer;
            width: 100%;
            

            &:hover {
                background-color: darkgrey;
            }
        }

        &__options {
            position: absolute;
            background-color: black;
            width: 270px;
            top: 4rem;
            max-height: 310px;
            padding: 0.5rem;
            z-index: 99;
            // @include util.flex-center-all;
            display: flex;
            justify-content: center;
            overflow: auto;
            
            & ul {
                list-style-type: none;
                @include util.flex-center-all;
                gap: 0.5rem;
                flex-direction: column;
                box-sizing: border-box;
                width: 100%;
                height: 100%;

                & li {
                    padding: 0.5rem;
                    width: 100%;
                    cursor: pointer;

                    &:hover {
                        background-color: grey;
                    }
                }
            }
        }
    }
}

.highlight {
    background-color: grey;
}