@use "../util";

.jobBar {
    background-color: var(--background-color-job);
    @include util.margin-vertical(0.5rem);
    height: auto;
    overflow: hidden;


    &__teaser {
        @include util.flex-center;
        justify-content: space-between;
        padding: 1rem 3rem;
        cursor: pointer;
        border: 1px solid black;
        transition: 0.3s;

        & span {
            text-decoration: underline;
        }

        &:hover {
            background-color: var(--background-color-job-hover);
        }
    }

    &__expand {
        padding: 2rem;
        background-color: var(--background-color-job-expand);

        & > p {
            text-align: end;
            text-decoration: underline;
            font-size: 1.3rem;

        }

        span {
            display: flex;
            align-items: flex-start;
            @include util.margin-vertical(0.5rem);
            padding: 0.2rem;

            h4 {
                @include util.flex-center;
                width: util.rem(200);
            }

            p {
                word-wrap: break-word;
                width: 80%;
            }
        }
    }
}