@use "../util";

.jobTile {
    background-color: var(--background-color-job);
    padding: 2rem;
    height: util.rem(400);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid black;

    &__teaser {

        & > * {
            @include util.padding-vertical(0.2rem);
        }

        & > p {
            font-size: 1.5rem;

            @include util.breakpoint(large) {
                font-size: 1.1rem;
            }

            @media (min-width: 1400px) {
                font-size: 1.5rem;
            }
        }

        & span {
            @include util.flex-center;
            gap: 1rem;
            word-break: normal;
        }

        &__link {
            @include util.dimensions(100%, 45%);
            position: absolute;
            backdrop-filter: blur(2px);
            padding: 2rem;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            z-index: 4;
            font-size: 1.5rem;
            text-decoration: underline;

            & a:hover {
                opacity: 0.8;
            }
        }
    }
}